/* escena.component.css */
.progress-bar-fill {
    height: 10px;
    background: #000;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    width: 40%; 
    transition: left 0.3s ease; /* Transición suave para el cambio de posición */
}

.step-container {
    position: relative;
    width: 300px;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-image {
    width: 90%;
    height: auto;
    object-fit: cover;
}

.text-container {
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.step-title {
    font-weight: bold;
    color: #000;
    font-family: sans-serif;
}

.step-description {
    color: #000;
    font-family: sans-serif;
    font-size: 14px;
}

.progress-bar-and-button {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar {
    display: flex;
    align-items: center;
    position: relative;
    height: 10px;
}

.progress-dot {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 5px;
}


.arrow-buttons {
    display: flex;
}

.arrow-button {
    margin-right: 10px;
    padding: 10px;
    background: #000;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s, color 0.3s, border-color 0.3s;
    border: 1px solid #000;
}

.arrow-button.reverse {
    transform: scaleX(-1);
}

.arrow-button:hover {
    background: #fff;
    color: #000;
    border-color: #000;
}
